body {
    background-color:powderblue
}

nav {
    text-align: center;
}

header {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

form {
    text-align: center;
}
